.infoCardWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
  
.name {
    font-size: 20px;
    word-wrap: break-word; 
    /* word-break: break-all; */
    word-break: keep-all;
    hyphens: auto;
    white-space: normal;
    max-width: 170px; 
}
  
.number {
    font-size: 16px;
}
  
.iconCardWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    width: 70px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #9381ff;
    color: #f8f7ff;
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 15px;
    transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.deleteButton:hover {
    background-color: #b8b8ff;
}
  
@media screen and (min-width: 300px) and (max-width: 460px) {
    .name {
        font-size: 18.5px;
    }
}  