.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  background-color:  #9381ff;
  color: #f8f7ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow:  0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.cardBox {
  padding: 20px;
  position: relative; 
}

.undoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #9381ff;
  color: #f8f7ff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 50%;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}

.undoButton:hover {
  background-color: #b8b8ff;
}

.iconBook {
  color: #b8b8ff;
  display: block;
  margin: 0 auto 16px auto; 
}